<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FIRST DJANGO APP</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <h1>Hi Welcome to django</h1>
    <h2>Here are you access records!</h2>
    <div class="django">
        {% if access_rec %}
        <ul>
            {% for acc in access_rec  %}
            <li>
                <p>{{acc.topic}}</p>
                <p>{{acc}}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</body>

</html>