<!DOCTYPE html>
{% extends 'app/base.html' %}
    {% block body_block %}
        <h1>Hi Welcome to django</h1>
        <h2>Here are you access records!</h2>
        <div class="django">
            {% if users %}
            <ol>
                {% for user in users  %}
                <li>
                    <p>Users info</p>
                    <ul>
                        <li>{{user.first_name}}</li>
                        <li>{{user.last_name}}</li>
                        <li>{{user.email}}</li>
                    </ul>
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </div>
 {% endblock body_block %}
